:root {
  --rosa: #ffd6e0;
  --azul: #cde7ff;
  --verde: #c2ebc2;
  --amarillo: #fff3c4;
  --morado: #e5d4ff;
  --naranja: #ffd8b1;
  --background: #f5f5f5;
  --link: #0066cc;
  --boton: #ada7a7;
}

body {
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.gris {
  background-color: var(--boton);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 7px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px 2px;
  grid-template-areas:
    "panel panel panel panel"
    "tareas recordatorio progreso pendientes"
    "material material idea pendientes"
    "mensaje notas notas pendientes";
  width: 100%;
  height: 100vh;
}
a {
  color: var(--link);
  text-decoration: none;
}
h2 {
  font-size: 20px;
}
.container div {
  border-radius: 5px;

  margin: 5px;
}
.panel {
  grid-area: panel;
  background-color: var(--rosa);
  box-shadow: black 2px 2px 5px;
}
.tareas {
  grid-area: tareas;
  box-shadow: black 2px 2px 5px;
  background-color: var(--azul);
}
.recordatorio {
  grid-area: recordatorio;
  background-color: var(--verde);
  box-shadow: black 2px 2px 5px;
}
.progreso {
  grid-area: progreso;
  background-color: var(--amarillo);
  box-shadow: black 2px 2px 5px;
}

.pendientes {
  grid-area: pendientes;
  background-color: var(--morado);
  box-shadow: black 2px 2px 5px;
}

.material {
  grid-area: material;
  background-color: var(--naranja);
  box-shadow: black 2px 2px 5px;
}
.idea {
  grid-area: idea;
  border-color: black;
  background-color: var(--rosa);
  box-shadow: black 2px 2px 5px;
}
.mensaje {
  grid-area: mensaje;
  border-color: black;
  background-color: var(--azul);
  box-shadow: black 2px 2px 5px;
}
.notas {
  grid-area: notas;
  border-color: black;
  background-color: var(--verde);
  box-shadow: black 2px 2px 5px;
}

.panel div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

.pendientes div p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
}

.pendientes div button {
  border-color: black;
  border-radius: 1px;
}
