body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  background-color: white;
  padding: 10px;
}

nav ul {
  text-align: center;
}
