:root {
  --verde: #7baf4c;
  --verdev: #758e7a;
  --verden: #afcd6f;
  --verdef: #43745b;
  --rosa: #fcc4be;
  --blanco: #fff;
  --negro: #000;
  --rojo: #eb3a48;
  --gris: #736d7b;
}
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}
header img {
  padding: 10px;
  width: 130px;
}

header nav {
  border-top: 1px solid #758e7a;
  border-bottom: 3px solid #758e7a;
  margin-bottom: 20px;
}

header nav ul li {
  display: inline-block;
  margin: 0 20px;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 8px;
}

header nav ul li:first-child {
  background: #736d7b;
  color: #ffff;
  border-radius: 3px;
}

header nav ul li:last-child {
  background: #eb3a48;
  color: #ffff;
  border-radius: 3px;
}

section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px 0;
}

.art1 {
  width: 60%;
  text-align: center;
}

.art1 img {
  width: 100%;
  border: 3px solid var(--verden);
}

.art1 h2 {
  margin: 10px 0;
}

.art1 span {
  font-size: 12px;
  display: block;
}

.art1 button {
  margin: 8px 0 0;
  background-color: var(--rosa);
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.art2 {
  width: 25%;
}

.art1seg {
  text-align: justify;
  font-size: 12px;
}

.art1seg h4 {
  color: var(--verde);
  margin: 10px 0;
}

.art1seg p {
  margin: 0 0 10px;
}

.art1seg a {
  color: var(--verdef);
  font-size: 12px;
  text-decoration: none;
  float: right;
}

.art2 {
  width: 25%;
  font-size: 12px;
}

.art2 h3 {
  color: var(--rosa);
  font-size: 18px;
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  background: var(--verdef);
  color: #ffff;
  padding: 5px 20px;
}

footer div {
  width: 30%;
}

.copy {
  font-weight: bold;
  font-size: 14px;
}

.join {
  text-align: center;
}

.join h4 {
  font-size: 18px;
  margin: 4px 0;
}
